---
import Base from "../layouts/Base.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Systems from "../components/Systems.astro";
import Contact from "../components/Contact.astro";
---

<Base>
  <Nav />
  <main>
    <Hero />
    <About />
    <Systems />
    <Contact />
  </main>
</Base>
